@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#UIDiv {
    height: 100%;
    width: 100%;
    margin: 5% 20%;
    display: flex;
    flex-direction: column;
}

#hubTitleDiv {
    height: 10%;
    width: 60%;
    background-color: red;
}

#middleHubDiv {
    display: flex;
    height: 60%;
    width: 60%;
}


//PLAYER part
#playerDiv {
    height: 100%;
    width: 50%;
    background-color: transparent;
}

#playerDivList{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.playerCell{
    min-height: 12.5%;
    max-height: 25%;
    width: 100%;
    display: flex;
}

.playerBan{
    min-height: 100%;
    align-self: center;
    color: red;
    font-size: 1.2em;
    margin-left: 0.2em;
}

.playerAvatar{
    min-height: 100%;
    font-size: 1.7em;
    margin-right: 0.2em;
    margin-left: 0.3em;
    align-self: center;
}
.playerName{
    min-height: 100%;
    margin-right: 0.3em;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    align-self: center;
    text-align: center;
    color: #bfbfbf;
}

.playerRename{
    min-height: 100%;
    font-size: 1.2em;
    align-self: center;
    color: #bfbfbf;
}



//CHAT part
#chatDiv {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #404040;
}

//CHAT - Output
#messagesDiv {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.messageDivOther {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    clear: both;
    background-color: #8d8d8d;
    border-radius: 5px;

}

.messageDivMe {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    clear: both;
    background-color: #d2d2d2;
    border-radius: 5px;
}

.messageDivMe .messagePlayer{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    background-color : #bdbdbd;
}

.messageDivMe p{
    color: #404040;
}
.messageDivMe #playerTag{
    color: #464646;
}

.messageDivMe .playerSessid{
    color: #464646;
}


.messagePlayer {
    width:40%;
    height: 100%;
}

#playerTag{
    text-align: center;
    color: white;
    min-height: 30%;
    font-size: 95%;
}

.playerSessid{
    text-align: center;
    color: white;
    min-height: 30%;
    font-size: 80%;
}

.messageContent {
    max-width:57%;
    height: 100%;
    margin-left: 2%;
}

.messageContentText {
    width: 100%;
    height: auto;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
    text-align: start;
    font-size: 85%;
    color: white;
}

#messageBan {
    width: 10%;
    min-height: 100%;
    padding-left: 0.1em;
    color: red;
}

//CHAT - Input

#inputDiv {
    height: 15%;
    width: 100%;
    padding: 0.1em 0.4em 0.4em 0.1em;
    border-top: 5px solid #8d8d8d;
    background-color: rgba(255, 255, 255, 0);
    transition: height 0.3s ease-in-out,
                background-color 0.3s ease-in-out;
    font-size: 3em;
}

#inputDiv:focus-within {
    height: 30%;
    width: 100%;
    padding: 0 10px 20px 0;
    border-top: 5px solid #8d8d8d;
    background-color: white;
}
#inputDiv span{
    align-self: center;
    font-size: 50%;
    transition: font-size 0.3s ease-in-out;
}

#inputDiv:focus-within span{
    align-self: center;
    font-size: 100%;
}

#messageInput {
    z-index: 0;
    border:none;
    height: 100%;
    width: 80%;
    background-color: transparent;
    outline: none;
    resize: none;
    overflow: hidden;
}

#messageInput:focus {
    padding-top: 1%;
    padding-left: 1%;
    z-index: 0;
    border:none;
    height: 100%;
    width: 80%;
    background-color: transparent;
    outline: none;
    resize: none;
    overflow: hidden;
    color: #464646;
    font-size: 35%;
}

#messageInput::placeholder {
    z-index: 0;
    color: rgba(255, 255, 255, 0.65);
    align-self: center;
    height: 100%;
    font-size: 100%;
}

#messageInput:focus::placeholder {
    z-index: 0;
    color: rgba(64, 64, 64, 1);
    align-self: center;
    font-size: 100%;
}

#spawnIcoMsg {
    width: 20%;
    height: 100%;
    font-size: 2em;
    align-self: center;
    color: #8d8d8d;
}



//LAUNCH/SETTINGS part

#launchDiv {
    height: 10%;
    width: 60%;
    background-color: yellow;
}

#launchDiv:focus-within #messagesDiv {
    height: 70%;
    width: 100%;
}
